/* Сначала шрифты */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Сброс стилей и базовые настройки */
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Общие стили для основных блоков */
header,
main,
footer {
    width: 1100px;
    margin: 0 auto;
}

/* Стили для шапки */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 293px;
    position: relative;
    padding: 0 50px;
}

header img {
    width: 148px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Центрируем логотип */
    margin: auto;
}

header ul {
    display: flex;
    list-style-type: circle;
    text-transform: lowercase;
}

header ul li {
    margin-right: 32px;
}

header ul li:first-child {
    list-style-type: none;
}

header a,
footer a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}

header ul li a:hover,
footer ul li a:hover {
    color: #b00707;
}

header address {
    font-style: normal;
    text-align: right; /* Выравнивание контактов по правому краю */
    font-size: 18px;
    width: 100%; /* Чтобы выравнивание работало правильно */
}

header address a {
    display: block;
    margin-bottom: 5px;
}

/* Стили для подвала */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    position: relative;
    padding: 0 50px;
}

footer address {
    font-style: normal;
    text-align: left;
    font-size: 18px;
}

footer address a {
    display: block;
    margin-bottom: 5px;
}

footer ul {
    list-style-type: none;
    text-transform: lowercase;
}

footer nav ul li {
    text-align: center;
}

.network {
    display: flex;
}

.network li {
    margin-right: 48px;
}

.network li a img {
    width: 48px;
}

a.active {
    text-decoration: none;
}

/* Стили для главного баннера */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover-section {
    position: relative;
    background: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 757px;
    width: 1100px;
    margin: 0 auto;
}

.cover {
    position: relative;
    z-index: 2;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 50px 50px 50px; /* Убираем верхний паддинг */
    width: 1100px;
    margin: 0 auto;
}

.first-string,
.second-string,
.third-string {
    display: block;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3em;
    line-height: 1;
    word-spacing: 20px;
}

.first-string {
    text-align: left;
    margin-left: 0;
    margin-top: 165px; /* Отступ от верха картинки */
}

.second-string {
    text-align: center;
    margin-top: 20px; /* Отступ от "Оно" до "Тебе" */
    padding-top: 115px; /* 300 - 165 - 20 = 115px чтобы итого 300 от верха */
}

.third-string {
    text-align: right;
    margin-right: 0;
    margin-top: 20px; /* Отступ от "Тебе" до "Надо" */
    padding-top: 115px; /* 435 - 300 - 20 = 115px чтобы итого 435 от верха */
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 0.9em;
    font-weight: normal;
    margin-top: auto;
}

.description-text {
    width: 637px; /* Фиксированная ширина текста */
    text-align: center; /* Выравнивание по центру */
    margin: 0 auto; /* Центрирование */
}

.description button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 12px 32px;
    font-size: 22px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-left: 78px;
}

/* Секция с карточками */
.lots {
    width: 1100px;
    margin: 0 auto;
    padding: 180px 0 0 0;
    min-height: 723px;
}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 64px; /* Отступ от правого края 64px */
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
    padding: 0 24px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    flex-shrink: 0;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 30px;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.card_type_film {
    background: url('../images/card-lot-01.jpg') center/cover no-repeat;
}

.card_type_book {
    background: url('../images/card-lot-02.jpg') center/cover no-repeat;
}

.card_type_picture {
    background: url('../images/card-lot-03.jpg') center/cover no-repeat;
}

.lots__look-more-link {
    margin-left: 74px;
    font-size: 20px;
    text-decoration: underline;
    color: #000;
    display: block;
    margin-top: 30px; /* Отступ от карточки 30px */
}

/* Секция "Об аукционе" */
.about {
    width: 1100px;
    margin: 0 auto;
    padding: 155px 0 0 0; /* Расстояние от ссылки "Посмотреть больше" 155px */
    min-height: 775px;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 25px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    width: 240px;
    height: 240px;
    background: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

/* Подвал сайта */
.footer {
    width: 1100px;
    margin: 0 auto;
    padding: 180px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    height: 180px;
}

.footer .address {
    font-style: normal;
    text-align: left;
    padding-left: 50px;
}

.footer__menu {
    display: flex;
    justify-content: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.footer__menu-list-item {
    margin-bottom: 10px;
}

.footer__menu-link {
    color: #000;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 18px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 48px;
    padding-right: 50px;
}

.footer__social-icon {
    width: 48px;
}